<!DOCTYPE html>
<html>
  <head>
    <title>OdioApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <ul>

        <li><%= link_to("Home", "/") %></li>
        <li><%= link_to("About", "/about") %></li>
        <li><%= link_to("Engineers", "/engineers") %></li>
        <li><%= link_to("Add Engineer", "/engineers/new") %></li>
        <li><%= link_to("Artists", "/artists") %></li>
        <li><%= link_to("Add Artists", "/artists/new") %></li>
        <li><%= link_to("All bookings", "/bookings") %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
