<!DOCTYPE html>
<html>
  <head>
    <title>Odio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class="blue-grey darken-2">
      <div class="nav-wrapper">
        <ul>

        <li><%= link_to("Home", "/") %></li>
        <li><%= link_to("About", "/about") %></li>
        <li><%= link_to("Engineers", "/engineers") %></li>
        <li><%= link_to("Artists", "/artists") %></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <% if @current_user %>
             <li><%= link_to "Log Out", "/logout", method: :delete %></li>
             <li><%= link_to @current_user.email, user_path(@current_user) %></li>
             <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
           <% else %>
             <li><%= link_to "Log In", "/login" %></li>
             <li><%= link_to "Sign Up", "/users/new" %></li>
        <% end %>
        </ul>

      </div>
    </nav>




    <%= yield %>
    </div>
  </body>
</html>
