<!DOCTYPE html>
<html>
  <head>
    <title>Odio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="assets/stylesheets/animate.css">
    <script src="dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/easydropdown.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="assets/javascripts/jquery.easydropdown.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  </head>
  <body>


          <nav>

            <li><span><%= link_to("ODIO", "/", class:"nav-link") %></span></li>
          <% if @current_user %>
             <li><span><%= link_to("Engineers", "/engineers", class:"nav-link") %></span></li>
             <li><span><%= link_to("Artists", "/artists", class:"nav-link") %></span></li>
             <li><span><%= link_to "Log Out", "/logout", class:"nav-link", method: :delete %></span></li>
             <li><span><%= link_to "Profile", user_path(@current_user), class:"nav-link" %></span></li>
             <li><span><%= link_to "Edit Profile", edit_user_path(@current_user), class:"nav-link" %></span></li>
           <% else %>
             <li><span><%= link_to "Log In", "/login", class:"nav-link" %></span></li>
             <li><span><%= link_to "Register", "/users/new", class:"nav-link" %></span></li>
           <% end %>
         </nav>




    <%= yield %>



  </body>
</html>
