<h1><%= @user.name %></h1>

<h3>My Artist profiles</h3>

<ul>
<% @user.artists.each do |i| %>
  <hr>
  <li><%= link_to( i.name, "/artists/#{i.id}" ) %></li>
  <hr>
  <li><%= link_to("Edit Artist profile", "/artists/#{i.id}/edit") %></li>
  <li><%= link_to("Delete Artist profile", "/artists/#{i.id}", method: :delete, data: { confirm: "Are you sure?"}) %></li>
  <hr>
<% end %>
</ul>

<h3>My Upcoming recording sessions as an artist</h3>
<% @user.bookings.each do |i| %>
  <li> Your band <%= i.artist.name %> is being recorded by <%= i.engineer.name %> at <%= i.appointment_time %></li>
<% end %>


<h3>My Engineer profile</h3>
<ul>
  <% @user.engineers.each do |i| %>
  <li><%= link_to(i.name, "/engineers/#{i.id}") %></li>
  <hr>
  <li><%= link_to("Edit Engineer profile", "/engineers/#{i.id}/edit") %></li>
  <li><%= link_to("Delete engineer profile", "/engineers/#{i.id}", method: :delete, data: { confirm: "Are you sure?"}) %></li>
  <% end %>
</ul>

<h3>My Upcoming recording sessions as an audio engineer</h3>
<p><%= @user.bookings.to_json %></p>
<p><%= @engineer.to_json %></p>
