<h1>Audio Engineers</h1>
<p>The below audio engineers are available to record you.</p>

<% if @current_user %>
  <p>
   <%= link_to("Create Engineer Profile", "/engineers/new", class: "create") %>
  </p>
<% end %>

  <div class="pure-g eng-art-index">
    <% @all_engineers.order(:cached_votes_up).reverse.each do |engineer| %>
    <div class="pure-u-lg-1-2 pure-u-md-1-2 pure-u-1">
    <h3 class = "userlink">
      <%= link_to( engineer.name, "/engineers/#{engineer.id}", class: "index" ) %>
    </h3>
    <p><%= (engineer.bio).truncate_words(15) %></p>
    <p><%= link_to((image_tag (engineer.image)), "/engineers/#{engineer.id}") %></p>
    <p class="controls">
    <%= link_to like_engineer_path(engineer), class: "vote", method: :put do %>
      Upvote
      <%= engineer.get_upvotes.size %>
    <% end %>
  </p>
  </div>
<% end %>
</div>
