<h1><%= @engineer.name %></h1>
<p>Bio: <%= @engineer.bio %></p>
<%= link_to("Book me", "/bookings/new") %>

<h2>Upcoming recording sessions</h2>
<%  @engineer.bookings.each do |i|%>
  <p>Recording: <%= i.artist.name %> at <%= i.appointment_time %></p>
  <div class="controls">
    <%= link_to("Edit this booking", "/bookings/#{i.id}/edit") %>
  </div>
<% end %>



<div class="controls">
<%= link_to("Edit engineer details", "/engineers/#{@engineer.id}/edit") %>
<%= link_to("Delete engineer", "/engineers/#{@engineer.id}", method: :delete, data: { confirm: "Are you sure?"}) %>
</div>
