
<%=   form_for @booking do |f| %>
  <p>
      <%= f.label :artist_id %>
      <%= f.collection_select(:artist_id, Artist.all, :id, :name)%>
  </p>
  <p>
      <%= f.label :engineer_id %>
      <%= f.collection_select(:engineer_id, Engineer.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :appointment_time, "Date of appointment" %>
    <%= f.datetime_select :appointment_time %>
  </p>


  <%= f.submit %>



<% end %>
